.wrap .wrap-content .wrap-content-container .com-content .textarea-com textarea {
  width: 1000px;
}
.bookCon-title {
  clear: both;
  width: 36px;
  color: #2e527e;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  height: 100px;
  font-size: 36px;
  line-height: 100px;
  text-align: center;
}
.creater-name {
  position: relative;
}
.creater-name .line {
  position: absolute;
  top: 50px;
  height: 1px;
  width: 42%;
  background: #2e527e;
}
.creater-name .line-left {
  left: 0;
}
.creater-name .line-right {
  right: 0;
}
.creater-name .name {
  clear: both;
  font-size: 18px;
  color: #2e527e;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.op-table th, .op-table td {
    text-align: left;
    line-height: 35px;
}