@import url("reset.css");
@import url("color_margin_padding/color_margin_padding.css");
@import url("table/table.css");
@import url("button_checkbox/button_checkbox.css");
@import url("input-text/input-text.css");
@import url("list/list.css");
@import url("icon/icon.css");
@import url("travel_policy/travel_policy.css");
/*color start*/
/*color end*/
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html {
  background: #f5f5f5;
}
.wrap {
  width: 1340px;
  margin: 0 auto;
  background: #f5f5f5;
}
.wrap .wrap-header {
  width: 100%;
  height: 46px;
  background: #457892;
}
.wrap .wrap-header .wrap-head-fixed {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background: #457892;
}
.wrap .wrap-header .wrap-header-con {
  position: relative;
  width: 1346px;
  height: 46px;
  margin: 0 auto;
  background: #457892;
}
.wrap .wrap-header .wrap-header-con .warp-header-name,
.wrap .wrap-header .wrap-header-con .warp-header-login {
  display: inline-block;
  position: absolute;
  font-size: 16px;
  color: white;
}
.wrap .wrap-header .wrap-header-con .warp-header-name {
  width: 100px;
  height: 46px;
  line-height: 46px;
  margin-left: 910px;
}
.wrap .wrap-header .wrap-header-con .warp-header-name img {
  padding-right: 8px;
}
.wrap .wrap-header .wrap-header-con .warp-header-login {
  top: 8px;
  right: 50px;
  width: 75px;
  height: 30px;
  line-height: 30px;
  background: #4581a0;
  border-radius: 30px !important;
  cursor: pointer;
}
.wrap .wrap-header .wrap-header-con .warp-header-login img {
  padding-left: 10px;
  padding-right: 5px;
}
.wrap .wrap-content {
  margin: 4px auto 50px;
  width: 1346px;
  overflow: hidden;
  background: #457892;
}
.wrap .wrap-content .wrap-content-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  min-height: 1000px;
}
.wrap .wrap-content .wrap-content-container .nav-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 190px;
  height: 100%;
  overflow: hidden;
  color: #91bdd5;
  background: #457892;
}
.wrap .wrap-content .wrap-content-container .nav-left .index,
.wrap .wrap-content .wrap-content-container .nav-left .li-name {
  cursor: pointer;
}
.wrap .wrap-content .wrap-content-container .nav-left .li-name {
  font-size: 20px;
}
.wrap .wrap-content .wrap-content-container .nav-left dd {
  width: 100%;
  line-height: 46px;
  overflow: hidden;
  font-size: 20px;
}
.wrap .wrap-content .wrap-content-container .nav-left dd span {
  display: inline-block;
  padding-left: 4px;
}
.wrap .wrap-content .wrap-content-container .nav-left dd .icon {
  padding-left: 20px;
}
.wrap .wrap-content .wrap-content-container .nav-left dd .li-con li {
  position: relative;
  cursor: pointer;
  font-size: 16px;
}
.wrap .wrap-content .wrap-content-container .nav-left dd .li-con .iflight-list li {
  font-size: 14px;
}
.wrap .wrap-content .wrap-content-container .nav-left dd .li-con li:hover {
  background: #39667d;
  color: #fff;
}
.wrap .wrap-content .wrap-content-container .nav-left dd .li-con li:before {
  position: absolute;
  content: "|";
  margin-left: 30px;
}
.wrap .wrap-content .wrap-content-container .nav-left dd .li-con .iflight-list {
  display: none;
}
.wrap .wrap-content .wrap-content-container .nav-left dd .li-con .iflight-list li:before {
  content: "";
}
.wrap .wrap-content .wrap-content-container .nav-left dd .li-con li a {
  margin-left: 40px;
  text-decoration: none;
  color: #91bdd5;
  display: inline-block;
  height: 100%;
  width: 80%;
}
.wrap .wrap-content .wrap-content-container .nav-left dd .li-con li.iflight .iflight-off {
  background: url(../images/arrow_down.png) 130px center no-repeat;
}
.wrap .wrap-content .wrap-content-container .nav-left dd .li-con li.iflight .iflight-on {
  background: url(../images/arrow_top.png) 130px center no-repeat;
}
.wrap .wrap-content .wrap-content-container .nav-left .on {
  background: #39667d;
  color: #ffffff;
}
.wrap .wrap-content .wrap-content-container .nav-left .down i,
.wrap .wrap-content .wrap-content-container .nav-left .top i {
  display: inline-block;
  width: 30px;
  height: 46px;
  float: right;
  margin-right: 20px;
  line-height: 46px;
}
.wrap .wrap-content .wrap-content-container .nav-left .down i {
  background: url(../images/arrow_down.png) center no-repeat;
}
.wrap .wrap-content .wrap-content-container .nav-left .down .li-con {
  display: none;
}
.wrap .wrap-content .wrap-content-container .nav-left .top i {
  background: url(../images/arrow_top.png) center no-repeat;
}
.wrap .wrap-content .wrap-content-container .nav-left .top .li-con {
  display: block;
}
.wrap .wrap-content .wrap-content-container .com-content {
  width: 1120px;
  margin-left: 188px;
  float: left;
  overflow: hidden;
  background: #f5f5f5;
}
.wrap .wrap-content .wrap-content-container .com-content .box-com,
.wrap .wrap-content .wrap-content-container .com-content .box-s-com,
.wrap .wrap-content .wrap-content-container .com-content .textarea-com {
  margin-left: 10px;
  background: #ffffff;
  padding: 0 20px 20px;
  margin-bottom: 10px;
}
.wrap .wrap-content .wrap-content-container .com-content .box-com {
  width: 1068px;
  height: auto;
}
.wrap .wrap-content .wrap-content-container .com-content .box-s-com {
  width: 514px;
  height: auto;
}
.wrap .wrap-content .wrap-content-container .com-content .box-btn {
  text-align: center;
  padding-top: 30px;
}
.wrap .wrap-content .wrap-content-container .com-content .box-btn ul {
  display: inline-block;
}
.wrap .wrap-content .wrap-content-container .com-content .box-btn ul li {
  display: inline-block;
  margin-right: 25px;
}
.wrap .wrap-content .wrap-content-container .com-content .textarea-max-com {
  position: relative;
  height: 136px;
  width: 1068px;
}
.wrap .wrap-content .wrap-content-container .com-content .textarea-max-com p {
  padding-top: 30px;
  padding-left: 20px;
  font-size: 14px;
}
.wrap .wrap-content .wrap-content-container .com-content .textarea-max-com .textarea-fill {
  overflow: hidden;
  resize: none;
  outline: none;
  border: 0px;
  position: absolute;
  left: 89px;
  top: 32px;
  width: 950px;
  height: 100px;
  font-size: 14px;
}
.wrap .wrap-content .wrap-content-container .com-content .textarea-com {
  width: 508px;
}
.wrap .wrap-content .wrap-content-container .com-content .textarea-com textarea {
  width: 490px;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  overflow-x: hidden;
  border-color: #e4e4e4;
}
.wrap .wrap-content .wrap-content-container .com-content .com-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #f5f5f5;
}
.wrap .wrap-content .wrap-content-container .com-content .com-title .com-title-con {
  display: inline-block;
  font-size: 18px;
  font-weight: 100;
  color: #2e527e;
  height: 100%;
  border-bottom: 2px solid #2e527e;
}
.wrap .wrap-content .wrap-content-container .nav-right {
  width: 36px;
  height: 588px;
  position: fixed;
  right: 0;
  background: #457892;
}
.wrap .wrap-content .wrap-content-container .nav-right .nav-right-chose {
  width: 36px;
  height: 588px;
  position: relative;
}
.wrap .wrap-content .wrap-content-container .nav-right .nav-right-chose li {
  position: absolute;
  width: 36px;
  height: 26px;
}
.wrap .wrap-content .wrap-content-container .nav-right .nav-right-chose .nav-r-flight {
  top: 100px;
  background: url(../images/nav_right.png) no-repeat center 0;
}
.wrap .wrap-content .wrap-content-container .nav-right .nav-right-chose .nav-r-hotel {
  top: 150px;
  background: url(../images/nav_right.png) no-repeat center -25px;
}
.wrap .wrap-content .wrap-content-container .nav-right .nav-right-chose .nav-r-train {
  top: 190px;
  background: url(../images/nav_right.png) no-repeat center -50px;
}
.wrap .wrap-content .wrap-content-container .nav-right .nav-right-chose .nav-r-travel {
  top: 240px;
  background: url(../images/nav_right.png) no-repeat center -86px;
}
.wrap .wrap-content .wrap-content-container .nav-right .nav-right-chose .nav-r-event {
  top: 440px;
  background: url(../images/nav_right.png) no-repeat center -120px;
}
.footer {
  width: 100%;
  height: 40px;
  margin-top: 100px;
  line-height: 40px;
  background: #cccccc;
}
.footer .foot-con {
  width: 1340px;
  margin: 0 auto;
  text-align: center;
  background: #cccccc;
}
.loading-message img {
  vertical-align: middle;
}
.form-control .select2-choice {
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 12px;
}
.tooltip-inner {
  max-width: 500px;
}
.flightTipTable tr {
  height: 26px;
  line-height: 26px;
  font-size: 14px;
}
.form-control {
  height: 20px;
}


        .dropdown-submenu {
            position: relative;
        }
        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }
        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }
        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }
        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }
        .dropdown-submenu.pull-left {
            float: none;
        }
        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }