/**
 *Microsoft YaHei \5FAE\8F6F\96C5\9ED1  SimSun \5B8B\4F53 
*/
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
/**
 * Remove default margin.
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align:baseline;
    background:transparent;
}
body {
    font-size: 14px;
    font-family: "Open Sans","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,SimSun,sans-serif;
    line-height: 1.6;
}

:focus {
	outline: 1;
}
textarea{resize:none}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
label{
    font-weight: 400;
}
nav ul{
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    cursor: pointer;
    text-decoration: none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
li{
	list-style:none;
}
