.position-relative {
  position: relative;
}
.circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  color: white;
  background: #367798;
  box-shadow: -2px 2px 3px #ffffff;
  position: absolute;
  top: -8px;
  left: 112px;
}
.box-com .percent {
  width: 27%;
}
.height-top {
  height: 20px;
}
.float-right {
  float: right;
}
.none {
  display: none;
}
#tab2 .list-btn li,
#tab3 .list-btn li,
#tab4 .list-btn li {
  float: right;
}
