/*color start*/
/*color end*/
/*icon开始*/
.icon-chd,
.icon-vip {
  display: inline-block;
  background: #f86117;
  color: #ffffff;
  font-size: 10px;
  height: 15px;
  line-height: 15px;
  padding: 0 3px;
  border-radius: 50px;
  vertical-align: middle;
}
.icon-go,
.icon-back {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  border-radius: 5px;
  vertical-align: middle;
}
.icon-go {
  background: #1dd395;
}
.icon-back {
  background: #f1b650;
}
.icon-flight,
.icon-train,
.icon-hotel,
.icon-manualitem {
  display: inline-block;
  width: 25px;
  height: 28px;
  padding: 0 5px;
}
.icon-car {
  display: inline-block;
  width: 35px;
  height: 28px;
  padding: 0 5px;
}
.icon-intflight {
  display: inline-block;
  width: 25px;
  height: 28px;
  padding: 0 5px;
}
.icon-flight {
  background: url(../../images/icons.png) no-repeat 1px 0;
}
.icon-train {
  background: url(../../images/icons.png) no-repeat 1px -50px;
}
.icon-hotel {
  background: url(../../images/icons.png) no-repeat 1px -103px;
}
.icon-manualitem {
  background: url(../../images/manualitem.png) no-repeat;
  background-size: 100% 100%;
}

.icon-car {
  background: url(../../images/icon_usercar.png) no-repeat 1px 0;

}
.icon-intflight {
  background: url(../../images/intflight.png) no-repeat;
  background-size: 100% 100%;
}


.icon-zc {
  background: #ff7e46;
}
.icon-dl {
  background: #48b9fa;
}
.icon-gw {
  background: #00c77e;
}
.icon-wg{
  background: #cbb120;
}
.icon-zc,.icon-dl,.icon-gw,.icon-wg {
  display: inline-block;
  color: #ffffff;
  padding: .12em .085em .12em;
  font-size: 11px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em !important;
  margin-left: -1em;
}
/*icon结束*/
