/*color start*/
/*color end*/
/*button样式start*/
.btn-xs-default,
.btn-xs-default-orange,
.btn-xs-default-grey,
.btn-xs-blue,
.btn-xs-orange,
.btn-s-default,
.btn-s-default-orange,
.btn-s-default-grey,
.btn-s-blue,
.btn-s-orange,
.btn-xm-default,
.btn-xm-default-orange,
.btn-xm-default-grey,
.btn-xm-blue,
.btn-xm-orange,
.btn-m-default,
.btn-m-default-orange,
.btn-m-default-grey,
.btn-m-blue,
.btn-m-orange {
  background: transparent;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.btn-xs-default,
.btn-xs-default-orange,
.btn-xs-default-grey,
.btn-xs-blue,
.btn-xs-orange,
.btn-xs-grey {
  width: 66px;
  height: 24px;
  line-height: 24px;
}
.btn-s-default,
.btn-s-default-orange,
.btn-xs-default-grey,
.btn-s-blue,
.btn-s-orange,
.btn-s-grey {
  width: 90px;
  height: 30px;
  line-height: 30px;
}
.btn-xm-default,
.btn-xm-default-orange,
.btn-xs-default-grey,
.btn-xm-blue,
.btn-xm-orange,
.btn-xm-grey {
  width: 120px;
  height: 32px;
  line-height: 32px;
}
.btn-m-default,
.btn-m-default-orange,
.btn-xs-default-grey,
.btn-m-blue,
.btn-m-orange,
.btn-m-grey {
  width: 186px;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
}
.btn-xs-default,
.btn-s-default,
.btn-xm-default,
.btn-m-default,
.btn-b-default {
  color: #367798;
  border-color: #367798;
}
.btn-xs-default-orange,
.btn-s-default-orange,
.btn-xm-default-orange,
.btn-m-default-orange,
.btn-b-default-orange {
  color: #f88117;
  border-color: #f88117;
}
.btn-xs-blue,
.btn-s-blue,
.btn-xm-blue,
.btn-m-blue,
.btn-b-blue {
  background: #367798;
  border-color: #367798;
  color: #fff;
}
.btn-xs-orange,
.btn-s-orange,
.btn-xm-orange,
.btn-m-orange,
.btn-b-orange {
  background: #f88117;
  border-color: #f88117;
  color: #fff;
}
.btn-xs-default-grey,
.btn-s-default-grey,
.btn-xm-default-grey,
.btn-m-default-grey,
.btn-b-default-grey {
  color: #cccccc;
  border-color: #cccccc;
}
.btn-xs-grey,
.btn-s-grey,
.btn-xm-grey,
.btn-m-grey,
.btn-b-grey {
  background: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-radius {
  border-radius: 4px !important;
}
.btn-not-allowed {
  opacity: 0.65;
  cursor: not-allowed !important;
}
/*button样式end*/
.checkbox {
  display: inline-block;
  margin-top: 0px !important;
  margin-bottom: 0px;
}
.checkbox .checkbox-static {
  width: 12px;
  height: 12px;
  float: left;
  border: 1px solid #ccc;
  margin-right: 4px;
  margin-top: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.checkbox .checkbox-act {
  background: #dfedf8 url(../../images/gou.png) center no-repeat;
}
.op-radio {
  margin-top: 0px;
  margin-bottom: 0px;
}
.op-radio .radio-static {
  width: 13px;
  height: 22px;
  background: url(../../images/radio.png) center no-repeat;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.op-radio .radio-act {
  background: url(../../images/radio_act.png) center no-repeat;
}
.op-radio .hand-radio {
  display: inline-block;
}
.tab-default,
.tab-default-down,
.tab-orange,
.tab-default-orange-down {
  position: relative;
  display: inline-block;
  font-size: 12px;
  z-index: 999;
  background: #fff;
}
.tab-default {
  border: 1px solid #37aaf0;
  padding: 10px 20px;
}
.tab-default:before {
  content: '';
  position: absolute;
  top: -7px;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #37aaf0;
}
.tab-default:after {
  content: '';
  position: absolute;
  top: -6px;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
}
.tab-default-down {
  border: 1px solid #37aaf0;
  padding: 10px 20px;
}
.tab-default-down:before {
  content: '';
  position: absolute;
  bottom: -8px;
  display: inline-block;
  border-top: 7px solid #37aaf0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.tab-default-down:after {
  content: '';
  position: absolute;
  bottom: -7px;
  display: inline-block;
  border-top: 7px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.tab-orange {
  background: #f86117;
  color: #ffffff;
  padding: 5px;
}
.tab-orange:before {
  content: '';
  position: absolute;
  top: -7px;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #f86117;
}
.tab-default-orange-down {
  border: 1px solid #f86117;
  padding: 10px 20px;
}
.tab-default-orange-down:before {
  content: '';
  position: absolute;
  bottom: -8px;
  display: inline-block;
  border-top: 7px solid #f86117;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.tab-default-orange-down:after {
  content: '';
  position: absolute;
  bottom: -7px;
  display: inline-block;
  border-top: 7px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.font-btn-blue,
.font-btn-orange {
  cursor: pointer;
}
.font-btn-blue {
  color: #2e527e;
}
.font-btn-orange {
  color: #ed710c;
}
.no-border {
  border: none;
}
.btn-down span {
  display: inline-block;
  height: 20px;
  width: 32px;
  vertical-align: middle;
  background: url(../../images/btn_down.png) no-repeat 11px 3px;
}
.arrive-icon {
  display: inline-block;
  padding: 5px 10px;
}
.tip-Black {
  width: 700px;
  border: 1px solid #ccc;
  display: inline-block;
}
.tip-Black .title {
  height: 34px;
  line-height: 34px;
  color: #000;
  background: #ccc;
  text-align: center;
  cursor: pointer;
}
.tip-Black ul {
  list-style: decimal !important;
  background: #000;
  color: #00ff00;
  font-size: 16px;
  height: 200px;
  overflow-y: scroll;
}
.arrive-icon {
  display: inline-block;
  background: #d9d9d9;
  padding: 5px 10px;
}
.btn-xm-grey2 {
  background: #cccccc;
  border-color: #cccccc;
  color: #fff;
  width: 120px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}